---
import Layout from '../layouts/BlogPost.astro';
import Layout2 from '../layouts/ChildPost.astro';
---

<Layout
	title="About Me"
	heroImage="/andrew.jpg"
>
	<p>
		After playing Baritone Sax for 30+ years, I started my career repairing laptops and cell phones. 
		Having moved away from tech repair in my day job, I fell in love with music again as an adult, 
		not just wind instruments, but rock instruments, string instruments and anything that makes music.
		I've been supporting the Riverview School District in various ways for years.  I've taught the Jazz
		Lab at Tolt middle school, repaired instruements, and tutored students/ done sectionals to help 
		students in thier music career.  
	</p>
</Layout>
<Layout2
	title="Quality Band Repair History - Bill Habetler"
	heroImage="/bill.jpg"
>
	<p>
		Bill Habetler started Quality Band Repair in Duvall, Washington after 40 years as a band director and
		conductor, realizing his passion for musical instrument repair.  He passed that joy on to me and taught 
		me everything I know about how to fix woodwind and brass instruments.  After his passing in 2024 there has 
		a massive hole in the music community on the Eastside.  
	</p>
</Layout2>