---
import Layout from '../layouts/BlogPost.astro';
import Layout2 from '../layouts/ChildPost.astro';
---

<Layout
	title="Contact Andrew"
>
	<p>
	<a href="mailto:andrewelee1983@gmail.com">Email Andrew with a request</a>
	<br/>
	<div>Phone #:<a href="tel:2066197011"> 206-619-7011</a>	</div>
	<br/>
	<a href="https://venmo.com/qualitybandrepair" target="_blank">Pay online for rental or other services rendered</a>

	</p>


</Layout>
