---
import Layout from '../layouts/BlogPost.astro';
import Layout2 from '../layouts/ChildPost.astro';
---

<Layout
	title="Contact Andrew"
>
	<p>
	<a href="mailto:andrewelee1983@gmail.com">Email Andrew with a request</a>
	Phone #:<a href="tel:2066197011"> 206-619-7011</a>
	</p>

	<a href="https://venmo.com/qualitybandrepair" target="_blank">Pay online for rental or other services rendered</a>

</Layout>
