---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Quality Band Repair and Instrument Rental</h1>
			<p>
				I've been repairing Brass and Woodwind instruments for 8 years.  Guitars, amps, microphones,
				and other music gear for 2 years, and I'm an ameture luthier (learning to work on violins, 
				accoustic guitars, and other wooden string instruments).  I've worked on more obscure instruments
				like accordions, banjos and even a church organ as well.
			</p>
			<p>
				Quality Band Repair's focus has always been on craftsmanship and quality over speed.  Work is done
				by appointment only, a diagnosis is free and hours are flexible.  
			</p>
			<p>Services:</p>
			<ul>
				<li>Instrument Rentals</li>
				<li>Woodwind and Brass Repair</li>
				<li>Electric Guitar and Amplifier Repair</li>
				<li>Amateur luthier (orchestra and accoustic guitars...etc)</li>
				<li>Accordion, percussion...if it's musical, or audio adjacent I can probably fix it!</li>
			</ul>
			<p><a href="/contact">Contact Andrew</a></p>
		</main>
		<Footer />
	</body>
</html>
