---
import Layout from '../layouts/BlogPost.astro';
import Layout2 from '../layouts/ChildPost.astro';
---

<Layout
	title="Lessons"
	heroImage="/feefee1.jpg"
>
	<p>
		Ophelia "Feefee" Lee has been playing trombone since she was 6 years old and eletric and upright bass for
		2 years.  She is currently offering lessons on trombone, euphonium/baritone, tuba, electric bass, 
		and upright bass.  <a href="/contact.astro">Contact Us</a> for more information. 
	</p>
</Layout>
