
---
import Layout from '../layouts/BlogPost.astro';
import Layout2 from '../layouts/ChildPost.astro';
---
<style>
img {
	max-height: 512px;
	max-width: 512px;
	width: calc(100% - 2em);
	max-width: 100%;
}
table {border: none;}
</style>
<Layout
	<h1>Repair Photos</h1>

<table>
<tr>
<td><img src="/bari-apart.jpg" /></td>
<td><img src="/bari-parts.jpg" /></td>
<td><img src="/bari-final.jpg" /></td>
</tr>
<tr>
<td><img src="/tuba1.jpg" /></td>
<td><img src="/tuba2.jpg" /></td>
<td><img src="/tuba3.jpg" /></td>
</tr>
<tr>
<td><img src="/tuba4.jpg" /></td>
<td><img src="/tuba5.jpg" /></td>
<td><img src="/tuba6.jpg" /></td>

</tr>
<tr>
<td><img src="/tuba7.jpg" /></td>
<td><img src="/tuba-final.jpg" /></td>
<td><img src="/amp1.jpg" /></td>
</tr>
<tr>
<td><img src="/amp2.jpg" /></td>
<td><img src="/amp3.jpg" /></td>
<td><img src="/bass.jpg" /></td>
<td><img src="/mic.jpg" /></td>
</tr>
</table>
</Layout>



