---
import HeaderLink from './HeaderLink.astro';
import MenuItem from './MenuItem.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<button id="hamburger-menu" click="">≡</button>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div id="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/rental-prices">Rental-Prices</HeaderLink>
			<HeaderLink href="/repair-photos">Repair Photos</HeaderLink>
			<HeaderLink href="/lessons">Lessons</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</div>
	</nav>
	<div id="menu">
		<MenuItem href="/">Home</MenuItem>
		<MenuItem href="/rental-prices">Rental-Prices</MenuItem>
		<MenuItem href="/repair-photos">Repair Photos</MenuItem>
		<MenuItem href="/lessons">Lessons</MenuItem>
		<MenuItem href="/about">About</MenuItem>
		<MenuItem href="/contact">Contact</MenuItem>
	</div>
</header>
<script>
  const button = document.getElementById('hamburger-menu');
  const target = document.getElementById('menu');

  button?.addEventListener('click', () => {
    target?.classList.toggle('active');
  });
</script>
<style>

	#hamburger-menu{
		display:none;
	}

	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}

		#hamburger-menu {
			display: block;
			padding-right: 24px;
			padding-left: 24px;
			padding-bottom: 16px;
			padding-top: 16px;
			margin-top: 8px;
			margin-bottom: 8px;
			background-color: white;
			border-radius: 10px;
			font-size: 24px;
		}

		#internal-links, #menu { 
			display: none;
		}

		#menu.active{
			position: absoulte;
			display: flex;
			flex-direction: column;
			left: 0px;
			top: 25px;
			width:100%;
			height: calc(100% - 88px);
		}
	}
</style>
